.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 0;
  padding-bottom: 20px;
  color: var(--text-primary-color);
  border-radius: 40px;
}

.burger_constructor_hover {
  outline: 1px solid var(--colors-interface-accent);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
  max-height: calc(100vh - 536px);
  margin: 0;
  padding: 0 8px 0 0;
  overflow-y: auto;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.empty_item {
  padding-left: 32px;
}

.summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.price {
  display: flex;
  align-items: center;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 536px;
  min-height: 80px;
  padding: 16px 24px;
  text-align: center;
  background: var(--background-element);
  border-radius: var(--common-border-radius-s);
}

.placeholder_top {
  border-radius: var(--top-constructor-item-border-radius);
}

.placeholder_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
