.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 0;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
  max-height: calc(100vh - 536px);
  margin: 0;
  padding: 0 8px 0 0;
  overflow-y: auto;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.price {
  display: flex;
  align-items: center;
}
