.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  box-sizing: border-box;
  width: 720px;
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 40px);
  padding: 40px 40px 60px;
  overflow-y: auto;
  color: var(--text-primary-color);
  background-color: var(--background);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}

.header_empty {
  justify-content: flex-end;
  min-height: 24px;
}

.title {
  margin: 0;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
