.profile {
  width: 100%;
}

.layout {
  display: flex;
  gap: 60px;
  max-width: 860px;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

.link_active {
  color: var(--text-primary-color);
}

.link_inactive {
  color: var(--text-inactive-color);
}

.exit {
  align-self: flex-start;
  padding: 0;
  color: var(--text-inactive-color);
  background: none;
  border: 0;
  cursor: pointer;
}

.help {
  max-width: 320px;
  margin-top: 80px;
  opacity: 0.4;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 480px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.error {
  margin: 0;
  color: var(--colors-interface-error, #e52b1a);
}
